@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@if (!NavigationManager.Uri.ToLower().Contains("/monitor"))
{
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="pagecontent">
        @Body
    </div>
}
else
{
    @Body
}