@inject NavigationManager NavigationManager

    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">TallerGestion</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="m-1 fa-solid fa-house" aria-hidden="true"></i> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PuestosRegistro">
                <i class="m-1 fa-solid fa-right-to-bracket" aria-hidden="true"></i> Registro Atencion
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="atenciones">
                <i class="m-1 fa-solid fa-chalkboard-user" aria-hidden="true"></i> Monitor Operario
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                <i class="m-1 fa-solid fa-user-tie" aria-hidden="true"></i> Monitor Administrador
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="monitor">
                <i class="m-1 fa-solid fa-desktop" aria-hidden="true"></i> Monitor Atenciones
                </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gestion">
                <i class="m-1 fa-solid fa-certificate" aria-hidden="true"></i> Gestion calidad
            </NavLink>
        </li>
        </ul>
    </div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
